.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-homepage {
  background-color: #7f8fa6;
}
.App-services {
  background-color: #8c7ae6;
}
.App-about {
  background-color: #c23616;
}
.App-contact {
  background-color: #e1b12c;
}
.App-reviews {
  background-color: #487eb0;
}

.App-footer {
  background-color: #2f3640;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 0.5vmin);
  color: white;
}
