.App-body {
  min-height: 100vh;
  color: white;
}

.App-content {
  padding-top: 30vh;
}

.App-homepage {
  background-color: #273c75;
}
.App-services {
  background-color: #8c7ae6;
}
.App-about {
  background-color: #c23616;
}
.App-contact {
  background-color: #e1b12c;
}
.App-reviews {
  background-color: #487eb0;
}

.App-footer {
  background-color: #4F4F4F;
  font-size: calc(10px + 0.5vmin);
  min-height: 5vh;
  color: white;
}

.padding-top-5vh {
  padding-top: 5vh;
}
.padding-bottom-5vh {
  padding-bottom: 5vh;
}